.sr {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;

	clip-path: inset(50%) !important;
}





.app {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.app__wrapper {
	margin: 0 30px;
}

@media screen and (min-width: 768px) {
	.app__wrapper {
		margin: 0 auto;
		max-width: 708px;
	}
}





.app__panel {
	background: linear-gradient(to bottom, #ffffff 0%, rgba(244, 245, 246, .3) 100%);
	border-radius: 16px;
	box-shadow: 0 4px 18px rgba(0, 0, 0, .15);
	margin: 50px 0;
	padding: 30px;
	position: relative;
}

.app__panel::before,
.app__panel::after {
	background: inherit;
	border-radius: inherit;
	content: '';
	height: 100%;
	left: 10px;
	opacity: .5;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: -1;
}

.app__panel::after {
	content: '';
	left: 20px;
	opacity: .25;
	right: 20px;
	top: 20px;
}





.app__header {
  border-bottom: 1px solid #e4e5e6;
  padding: 0 30px;
  margin: 0 -30px;
  position: relative;
}

.app__last-update {
  position: absolute;
  right: 20px;;
  bottom: 100%;
  margin: 0;
  font-size: .85em;
  color: white;
  transform: translateY(-30px);
  font-family: monospace;
  text-transform: uppercase;
}


.app__title {
	font-size: 20px;
  margin: 0;
	padding: 0 0 15px;
  display: flex;
}

.app__title::before {
  content: '';
  width: 40px;
  height: 24px;
  background: url(/public/images/icon.svg) center no-repeat;
}





.app__main {
	/**/
}





.app__add-todo {
	/**/
}
.app__add-todo-form {
	/**/
}





.form {
	padding: 30px;
  margin: 0 -30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.form__row:not(.form__row--action) {
  flex-grow: 1;
  margin-right: 15px;
}

.form__label {
	/**/
}

.form__field {
	border: 2px solid #008aff;
  background-color: #fff;
  font: inherit;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2em;
  appearance: none;
  border-radius: 4px;;
  height: 45px;
  padding: .5em;
}

.form__add {
  border: 0;
  width: 40px;
  height: 1px;
  padding: 44px 0 0;
  overflow: hidden;
  background: url(/public/images/arrow-down.svg) center no-repeat;
  background-size: 30px;
  cursor: pointer;
  display: block;
  transform: rotate(30deg)
}





.app__todo {
	/**/
}
.app__todo-title {
	/**/
}
.app__todo-list {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}

.app__todo-item {
	display: flex;
}

.app__todo-item + .app__todo-item {
	margin-top: .25em;
}





.task {
	display: inline-block;
	line-height: 40px;
	overflow: hidden;
	padding-right: 40px;
	position: relative;
}


.task__field {
  height: 10px;
  position: relative;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -2px;
  outline: none;
}

.task__label {
  position: relative;
  z-index: 2;
  padding-left: 30px;
  cursor: pointer;
}

.task__label::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0 0 0 2px #008aff;
  transition: box-shadow ease .5s;
}

.task__field:checked + .task__label::before {
  box-shadow: inset 0 0 0 8px #008aff;
  transition: box-shadow ease .5s;
}

.task__field:focus + .task__label::before {
  box-shadow: inset 0 0 0 2px #212121;
}

.task__field:checked:focus + .task__label::before {
  box-shadow: inset 0 0 0 8px #212121;
}

.task__completion-date {
	opacity: .5;
  font-size: .85em;
}

.task__completion-date::before {
	content: ' ';
}

.task__delete-me {
	background: url(/public/images/trash.svg) center no-repeat;
	background-size: 20px;
	border: 0;
	cursor: pointer;
	height: 1px;
	left: 200%;
	overflow: hidden;
	padding-top: 30px;
	position: absolute;
	top: 50%;
	transform: translate(-100%, -50%);
	width: 30px;
}

.task__delete-me:focus,
.task:hover .task__delete-me {
	left: 100%;
}





.task--done {
	/**/
}

.task--done .task__label {
	opacity: 1;
}

.task--done::after {
	background-color: black;
	content: '';
	height: 1px;
	left: 28px;
	opacity: .25;
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translateY(50%);
}
